body {
  font-family: Arial;
  font-size: 25px;
  overflow-y: hidden;
}

#display {
  align-items: flex-end;
  background-color: black;
  color: white;
  display: flex;
  font-size: 7vw;
  height: 25vh;
  justify-content: flex-end;
  width: 100vw;
}

.row {
  display: flex;
  height: 15vh;
}
.row .button {
  align-items: center;
  border-right: 1px solid black;
  border-top: 1px solid black;
  cursor: pointer;
  display: flex;
  height: 15vh;
  justify-content: center;
  width: 25vw;
}
.row .button:hover {
  opacity: 0.8;
}

.longButton {
  align-items: center;
  border-right: 1px solid black;
  border-top: 1px solid black;
  cursor: pointer;
  display: flex;
  height: 15vh;
  justify-content: center;
  width: 50vw;
}

.orange {
  background-color: orange;
  color: white;
}

.grey {
  background-color: lightgrey;
}

.white {
  background-color: #e9e9e9;
}
